:root {
	--pixel-size: 5px;
	--grid-cell: calc(var(--pixel-size) * 12);
}

.App {
	text-align: center;
}

.Header {
	font-size: calc(var(--pixel-size) * 6);
	font-style: italic;
	font-weight: 100;
}

body {
	background: var(--bg);
	display: flex;
	align-items: center;
	justify-content: center;
}

.pixelart {
	image-rendering: pixelated;
}

.camera {
	/* padding-top: 8px; */
	/* padding-bottom: 8px; */
	width: calc(var(--pixel-size) * 150);
	height: calc(var(--pixel-size) * 100);
	padding-left: 10px;
	overflow: hidden;
	background: #2b2b2b;
	position: relative;
	border-radius: 20px;
}

.map {
	image-rendering: pixelated;
	background-image: url(Gallery-Base.png);
	background-size: 100%;
	width: calc(15 * var(--grid-cell));
	height: calc(15 * var(--grid-cell));
	position: relative;
	background-repeat: no-repeat;
}

.Character {
	margin-left: -45px;
	width: calc(12 * var(--pixel-size));
	height: calc(12 * var(--pixel-size));
	overflow: hidden;
	position: absolute;
	z-index: 200;
	/* border: red 1px solid; */
}

.Character_spritesheet {
	animation: moveSpritesheet 1s steps(4) infinite;
	width: calc(128px * var(--pixel-size));
	height: calc(128px * var(--pixel-size));
	position: relative;
	background-size: 100%;
}

.Character[facing="right"] .Character_spritesheet {
	background-position-y: calc(var(--pixel-size) * -32);
	animation: moveSpritesheet 1s steps(4) infinite;
}
.Character[facing="up"] .Character_spritesheet {
	background-position-y: calc(var(--pixel-size) * -64);
	animation: moveSpritesheet 1s steps(4) infinite;
}
.Character[facing="left"] .Character_spritesheet {
	background-position-y: calc(var(--pixel-size) * -96);
	animation: moveSpritesheet 1s steps(4) infinite;
}
.Character[walking="true"] .Character_spritesheet {
	animation: moveSpritesheet 1s steps(4) infinite;
}

@keyframes moveSpritesheet {
	from {
		transform: translate3d(0, 0, 0);
	}
	to {
		transform: translate3d(-100%, 0, 0);
	}
}

.corner_topleft,
.corner_topright,
.corner_bottomleft,
.corner_bottomright {
	position: absolute;
	width: var(--pixel-size);
	height: var(--pixel-size);
	background: var(--bg);
	z-index: 2;
}

.corner_topleft {
	top: calc(var(--pixel-size) * -1);
	left: calc(var(--pixel-size) * -1);
}
.corner_topright {
	top: calc(var(--pixel-size) * -1);
	right: calc(var(--pixel-size) * -1);
}
.corner_bottomleft {
	bottom: calc(var(--pixel-size) * -1);
	left: calc(var(--pixel-size) * -1);
}
.corner_bottomright {
	bottom: calc(var(--pixel-size) * -1);
	right: calc(var(--pixel-size) * -1);
}

.directions {
	font-size: 10px;
}