:root {
	--pixel-size: 5px;
	--grid-cell: calc(var(--pixel-size) * 12);
}

.modal {
	margin-top: 95px;
    position: fixed;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    opacity: 92%;
    border: rgb(103, 103, 103) 1px solid;
    border-radius: 4%;
    z-index: 200;
	height: calc(var(--pixel-size) * 125);
	width: calc(var(--pixel-size) * 100);
}

.modal-body {
    margin: 10px;
}

.popWrap {
    position: absolute;
}

.art {
    height: 275px;
    margin: 5%;
}

.balance {
    font-size: 11px;
}

.address {
    font-size: 11px;
}

.artist {
    font-size: 11px;
}

.forSale {
    font-size: 10px;
    font-weight: bolder;
    color: rgb(185, 185, 185);
    margin: 20px;
}

.title {
    font-size: 11px;
}

button {
    height: 15px;
    align-self: flex-end;
}

.mainBtn {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 12px;
    width: 90%;
    margin: 5%;
    height: 25px;
	align-items: center;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
}

.image {
    width: 100%
}

.org1 {
    display: inline-block;
    width: 75%;
    height: 50px;
    /* background-color: paleturquoise; */
}

.org2 {
    display: inline-block;
    width: 25%;
    height: 50px;
    /* background-color: paleturquoise; */
}